doctype html
html(lang = (config.language || "en"))
  head
    title #{config.title}
    meta(name = "description", content = config.description)
    meta(charset = "UTF-8")
    meta(name = "viewport", content = "width=device-width, initial-scale=1.0")
    link(rel = "icon", type = config.icon.type, href = config.icon.data)
    style :root{#{Object.entries(config.variables).map(([name, value]) => `${name}:${value}`).join(";")}}
    each cssFile in htmlWebpackPlugin.files.css
      style !{compilation.assets[cssFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()}
  body
    each jsFile in htmlWebpackPlugin.files.js
      script !{compilation.assets[jsFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()}
    div(class = "container")
      div(class = "header")
        div(class = "brand")
          style .header .brand .image{width: #{config.brand.icon.width}px;height: #{config.brand.icon.height}px}
          div(class = "image")
            img(width = config.brand.icon.width, height = config.brand.icon.height, alt = config.brand.icon.label, src = (config.brand.icon.data || config.icon.data))
          p(class = "text") #{config.brand.text}
        div(class = "buttons")
          div(class = "button theme")
            i(class = "icon")
          each button in config.brand.buttons
            a(class = button.type ? `button ${button.type}` : "button", aria-label = button.label, href = button.url, target = (button.newTab === undefined ? true : button.newTab) ? "_blank" : "_self")
              i(class = `icon icon-${button.icon}`)
    div(class = "container")
      div(class = "content")
        each section in config.sections
          div(class = "section")
            h3(class = "label")
              i(class = `icon icon-${section.icon}`)
              p(style="margin: 0") #{section.name}
            div(class = section.compact ? "links compact" : "links")
              for link in section.links
                a(class = "link", href = link.url, target = (link.newTab === undefined ? true : link.newTab) ? "_blank" : "_self")
                  i(class = `icon icon-${link.icon}`)
                  div(class = "info")
                    h3(class="label") #{link.label}
                      if link.notice
                        span(class="notice") #{link.notice}
                    if link.text
                      p(class = "text") #{link.text}
    div(class = "container")
      div(class = "footer")
        p(class = "copyright") #{config.copyright}